@import "tailwindcss";

@theme{
  --font-sans: "Inter", "sans-serif";
}

/* Dark mode configuration */
@variant dark (&:where(.dark, .dark *));

body{
  font-family: 'Inter', sans-serif;
}

.scrollbar::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track{
  background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb{
  background-color: #cbd5e1;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover{
  background-color: #94a3b8;

}

.dark .scrollbar::-webkit-scrollbar-thumb{
  background-color: #475569;
}

.dark .scrollbar::-webkit-scrollbar-thumb:hover{
  background-color: #334155;
}

/* animations*/

.fade-in{
  animation: fadeIn 0.5s ease-in-out forwards;

} 
@keyframes fadeIn{
  from{
    opacity: 0; transform: translateY(10px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
} 